{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique Française{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-8 offset-2" style="color: #00580a;">
            <h2 class="text-center">Mon compte.</h2>
            <div class="text-center">
                Bonjour {{ app.user.firstname }}.<br/> C'est dans cet espace que vous aller pouvoir gérer vos informations personnelles.
            </div>
            <hr />
            <div class="col-4 offset-4" style="color: #00580a;">
                <a href="{{ path('account_password') }}" class="col btn btn-dark btn-sm">Modifier mon password.</a><br/>
                <a href="{#{{ path('account_address') }}#}" class="col btn btn-dark btn-sm mt-2">Gérer mes adresses.</a><br/>
                <a href="{#{{ path('account_order_menu') }}#}" class="col btn btn-dark btn-sm mt-2">Mes commandes.</a><br/>
            </div>
        </div>
    </div>
{% endblock %}
