{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block title %}The French Shop{% endblock %}
{% block body %}
    <!--<h3 style="color: #00580a;">Nos meilleures ventes</h3>-->
    <h3 class="featurette-heading" style="color: #00580a;">Nos meilleures ventes</h3>
<p class="lead" style="color: #00580a;">Découvrez les articles les plus vendus.</p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div>  


<!-- START THE FEATURETTES -->
<hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7">
            <!--<h2 class="featurette-heading" style="color: #00580a;">Equipe de professionnelles au grand savoir-faire.</h2>-->
            <h3 style="color: #00580a;">Equipe de professionnelles au grand savoir-faire.</h3>
            <p class="lead text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('images/clown.jpg') }}" class="img-fluid" alt="Un savoir-faire Français">
        </div>
    </div>
    <hr class="featurette-divider">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <!--<h2 class="featurette-heading" style="color: #00580a;">Venez nous rencontrer dans nos boutiques en France.</h2>-->
            <h3 style="color: #00580a;">Venez nous rencontrer dans nos boutiques.</h3>
            <p class="lead text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1 mb-3">
            <img src="{{ asset('images/second.jpg') }}" class="img-fluid mb-5" alt="Une boutique ouverte toute l'année">
        </div>
    </div>
    <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
{% endblock %}     