<!--<footer class="text-center py-5 font-weight-bold"style="color: #00580a;">-->
<footer class="text-center py-2 font-weight-bold"style="color: #00580a;">
   <div class="container">   
    <img src="{{ asset('images/parlonscode-logo.png') }}" alt="Logo Parlons Code." width="30" height="30" class="mb-2">
    <p>
        &copy; 2017-2021 The French Shop<br/>
        <small> The shop 100% made in France<br/>
         <a href="#">Privacy</a> &middot; <a href="#">Terms</a></small>
    </p>
   </div>
</footer>